@import "tailwindcss";

@theme{
    --color-gris-oscuro: #2c2e2d;
    --color-verde-oscuro: #1b3628;
    --color-gris-blanco: #9ca1a0;
}

@layer utilities{
    .placeholder-blanco::placeholder{
        color: var(--color-gris-blanco);
    }
}